<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<!--- basic page needs
    ================================================== -->
<meta charset="utf-8">
<meta name="keywords"
	content="online html editor, WYSIWYG editor, html online editor, free html editor, free editor, rich text, web page, webpage, web site, website, websites, myspace, friendster, textarea, text area, text box, textbox, contenteditable, document body contenteditable true, html5, content attribute, bold, italic, italics, edit, editable, wysiwyg, wsiwg, html editor, code, free, designmode, saveas, execcommand, innerhtml, firefox, google chrome, apple safari, opera, internet explorer">
<title>Philosophy</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Include JS file. -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8"
	src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
	th:referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />

<!-- script
    ================================================== -->
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/js/pace.min.js}"></script>

<!-- favicons
    ================================================== -->
<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

</head>

<body id="top">

	<!-- pageheader
    ================================================== -->
	<section class="s-pageheader s-pageheader--home">

		<header class="header">
			<div class="header__content row">

				<div class="header__logo">
					<a class="logo" href="/autorHome"
						style="font-family: Segoe Print; color: white; font-size: 30px; text-decoration: none;">
						MyBlog </a>
				</div>

				<a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

				<nav class="header__nav-wrap">

					<h2 class="header__nav-heading h6">Site Navigation</h2>

					<ul class="header__nav">
						<li class="current"><a href="/autorHome" title="">Home</a></li>
						<li class="current"><a href="/pendingAuthorPosts">Pending
								Posts</a></li>
						<li class="has-children"><a href="#0" title="">Categories</a>
							<ul class="sub-menu">
								<li th:each="category : ${categories}"><a
									th:href="@{/openCategory/{Id}(Id=${category.categoryId})}"
									th:text="${category.categoryName}"></a></li>
							</ul></li>
						<li><a th:href="@{/logout}">Log out</a></li>
					</ul>

					<a href="#0" title="Close Menu"
						class="header__overlay-close close-mobile-menu">Close</a>

				</nav>
				<!-- end header__nav-wrap -->

			</div>

		</header>


	</section>
	<section
		class="s-content s-content--narrow s-content--no-padding-bottom">
		<article class="row format-standard">
			<form th:action="@{/savePostText}" method="post">
				<textarea cols="130" rows="200" name="myTextarea" id="myTextarea" th:text="${postText}"
					class="form-control" th:name="postText"></textarea>
				<br>
				<br>
				<button th:value="${postId}" th:name="saveText"
					style="position: absolute; left: 45%;">Submit</button>
			</form>
		</article>
		<br><br><br>
		<br>
	</section>
	<script type="text/javascript">
	tinymce.init({
    selector: '#myTextarea'
});</script>
	<!-- s-content -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>

</html>