<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<!--- basic page needs
    ================================================== -->
<meta charset="utf-8">
<meta name="keywords">
<title>Philosophy</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Include JS file. -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8"
	src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />

<!-- script
    ================================================== -->
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/js/pace.min.js}"></script>

<!-- favicons
    ================================================== -->
<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body id="top">
	<!-- pageheader
    ================================================== -->
	<section class="s-pageheader s-pageheader--home">

		<header class="header">
			<div class="header__content row">

				<div class="header__logo">
					<a class="logo" href="/autorHome"
						style="font-family: Segoe Print; color: white; font-size: 30px; text-decoration: none;">
						MyBlog </a>
				</div>

				<a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

				<nav class="header__nav-wrap">

					<h2 class="header__nav-heading h6">Site Navigation</h2>

					<ul class="header__nav">
						<li class="current"><a href="/home">Home</a></li>
						<li class="has-children"><a href="#0" title="">Categories</a>
							<ul class="sub-menu">
								<li th:each="category : ${categories}"><a
									th:href="@{/openCategory/{Id}(Id=${category.categoryId})}"
									th:text="${category.categoryName}"></a></li>
							</ul></li>
						<li class="current"><a href="/myProfile">My profile</a></li>
						<li><a class="current" th:href="@{/logout}">Log out</a></li>
					</ul>
				</nav>
				<!-- end header__nav-wrap -->

			</div>
			<div th:each="users : ${user}">
				<img th:if="*{users.data != null}" width="300" height="300"
					style="position: absolute; left: 40%; border-radius: 150px;"
					th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(users.data)}}"
					alt="">
			</div>

		</header>
		<a href="/changePassword" type="submit" class="btn btn-primary"
			th:name="changePass" th:value="${Id}"
			style="position: absolute; left: 45%; top: 100%;">Change Password</a>
	</section>
	<section class="s-content">
		<div class="tab-pane" id="edit">
			<div>
				<form autocomplete="off" action="#" th:action="@{/editProfile}"
					th:object="${user}" method="POST">

					<div class="form-group row">
						<label style="position: absolute; left: 44%;">If you make
							changes you have to log in again!</label> <label>First name</label> <input
							class="form-control" type="text" th:name="name"
							th:value="${name}">
					</div>
					<div class="form-group row">
						<label>Last name</label> <input class="form-control" type="text"
							th:name="lastName" th:value="${lastName}">
					</div>
					<div class="form-group row">
						<label>Email</label> <input class="form-control" type="email"
							th:name="email" th:value="${email}">
					</div>
					<br> <br>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:name="submit"
							th:value="${Id}" style="position: absolute; left: 45%;">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>