<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<!--- basic page needs
    ================================================== -->
<meta charset="utf-8">
<title>Philosophy</title>
<meta name="description" content="">
<meta name="author" content="">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script
	src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script"
	rel="stylesheet">
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<!-- mobile specific metas
    ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
    ================================================== -->
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/vendor.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/login.css">
<!-- script
    ================================================== -->
<script src="js/modernizr.js"></script>
<script src="js/pace.min.js"></script>

<!-- favicons
    ================================================== -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">
	<section class="s-pageheader s-pageheader--home">

		<header class="header">

			<div class="header__logo">
				<a class="logo" href="/login"
					style="position: absolute; left: 45%; font-family: Segoe Print; color: white; font-size: 30px; text-decoration: none;">
					MyBlog </a>
			</div>

		</header>
	</section>
<div class="container-fluid">
			<div class="row col-lg-4 col-lg-offset-4"
				style="background-color: #fff; padding: 20px; border: solid 1px #ddd;">
				<form th:action="@{/reset}" method="POST">
					<div class="form-group">
						<label class="control-label" for="token">Token:</label> <input
							type="text" name="token" id="token" maxlength="50"
							class="form-control" />
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Password:</label> <input
							type="password" name="password" id="password" maxlength="50"
							class="form-control" />
					</div>

					<div class="form-group">
						<label class="control-label" for="Password Confirmation">Password
							Confirmation:</label> <input type="password" name="passwordConfirmation"
							id="passwordConfirmation" maxlength="50" class="form-control" />
					</div>

					<button class="btn btn-primary" type="submit">Reset
						Password</button>
					<br /> <br /> <span th:utext="${message}"></span>
				</form>
			</div>
		</div>

</body>

</html>